@font-face {
  font-family: Manrope;
  src: url(fonts/Manrope/Manrope.ttf);
}
:root {
  --mainbackground-color: #f0f6fc;
  --white: #ffffff;
}
body {
  background-color: var(--mainbackground-color);
}

p,
h3 {
  padding-left: 30px;
}
* {
  font-family: Manrope;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(196, 186, 186);
}

.navbar-item .navbar-detail {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  flex-wrap: wrap;
  align-items: center;
}
.navbar-item .navbar-detail li {
  list-style: none;
  display: inline;
  padding: 30px 20px;
  font-weight: bold;
  line-height: 96px;
}

.navbar-detail .menu-item {
  color: #0571f0;
}
.navbar-detail .menu-box {
  background-color: #0571f0;
  border-radius: 5px;
  color: white;
  opacity: 1;
}
.navbar-detail .menu-hover:hover {
  color: #0571f0;
  cursor: pointer;
}
.navbar-detail .menu-box:hover {
  opacity: 0.9;
  cursor: pointer;
}
.navbar-detail .menu-opacity {
  background-color: #f3f6f9;
  border-radius: 5px;
  color: black;
}
.navbar-detail .menu-opacity:hover {
  background-color: #0571f0;
  cursor: pointer;
  color: white;
}

.content-box {
  display: flex;
  justify-content: center;
  width: 100%;
}
.content-box img {
  width: 100%;
  padding: 30px;
  border-radius: 40px;
  object-fit: cover;
  max-height: 400px;
}
button {
  border-radius: 6px;
  margin-left: 20px;
  padding: 8px;
  border: none;
  letter-spacing: 2px;
  background-color: #f3f6f9;
}
button:hover {
  background-color: #0571f0;
  color: white;
}
.content-box div {
  background-color: var(--white);
  width: 70%;
  margin: 40px;
  border-radius: 10px;
  overflow: hidden;
}

.paragraph {
  display: flex;
  justify-content: space-between;
}
h1:hover {
  text-decoration: underline;
  cursor: pointer;
}
.content-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.content2 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.content2 img {
  width: 100%;
  padding: 30px;
  border-radius: 40px;
  margin-top: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  object-fit: cover;
}
.content2 div {
  background-color: var(--white);
  border-radius: 10px;
  margin: 50px;
  height: 100%;
}
.content2 .paragraph p {
  padding-left: 0px;
}
.content3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content3 img {
  width: 100%;
  padding: 30px;
  border-radius: 40px;
  margin-top: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  object-fit: cover;
}
.content3 div {
  background-color: var(--white);
  border-radius: 10px;
  margin: 50px;
  height: 100%;
}
.content4 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.content4 img {
  width: 100%;
  padding: 30px;
  border-radius: 40px;
  margin-top: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  object-fit: cover;
}
.content4 div {
  background-color: var(--white);
  border-radius: 10px;
  margin: 50px;
  height: 100%;
}
.content5 {
  display: flex;
  width: 100%;
}
.content5 img {
  width: 100%;
  padding: 30px;
  border-radius: 40px;
  margin-top: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  object-fit: cover;
}
.content5 div {
  background-color: var(--white);
  border-radius: 10px;
  margin: 50px;
  height: 100%;
}
.button {
  display: flex;
  justify-content: center;
  opacity: 1;
  padding-top: 30px;
}
.button button {
  background-color: #0571f0;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.button button:hover {
  opacity: 0.9;
}
.footer-paragraph {
  padding: 30px;
}
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.footer img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.footer div {
  background-color: var(--white);
  margin: 10px;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .btn {
  position: absolute;
}

.footer .footer-box {
  width: 40%;
  text-align: center;
  padding-top: 70px;
  background-color: white;
  border-radius: 10px;
}

.footer .footer-box:hover {
  color: #0571f0;
}

.footer-icon {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
}
.footer-icon svg,
.footer-icon img {
  width: 20px;
  height: 20px;
  margin: 0px 20px;
}

.footer-icon p {
  display: inline-block;
}

.footer .btn {
  position: absolute;
  border: none;
  background-color: white;
  border-radius: 10px;
  border: 1px solid white;
}

.footer .btn:hover {
  color: white;
  background-color: #0571f0;
  border-color: #0571f0;
}
.final {
  display: flex;
  justify-content: center;
}

.button-fixed button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 30px;
  padding: 20px;
  background-color: #0571f0;
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 20px;
}
.button-fixed .svg {
  width: 30px;
  height: 30px;
}

.footer-paragraph h1 {
  text-decoration: none;
}
@media screen and (max-width: 400px) {
  .content2,
  .content3,
  .content4,
  .content5,
  .footer,
  .footer-icon {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .content2,
  .content3,
  .content4,
  .content5,
  .footer,
  .footer-icon {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .content2,
  .content3,
  .content4,
  .content5,
  .footer,
  .footer-icon {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) {
  .btn-top-2,
  .btn-top-3,
  .btn-top-4,
  .btn-top-5 {
    display: none;
  }
}
header {
  background-color: white;
  border-bottom: 1px solid rgb(196, 186, 186);
  padding: 20px;
}
.footer-site {
  background-color: white;
}
.content-box,
.content2,
.content3,
.content4,
.content5 {
  position: relative;
}
.btn-top {
  background-color: #0571f0;
  color: white;
  position: absolute;
  top: 75px;
  right: 78px;
}
.btn-top-2 {
  background-color: #0571f0;
  color: white;
  position: absolute;
  top: 107px;
  right: 92px;
}
.btn-top-3 {
  background-color: #0571f0;
  color: white;
  position: absolute;
  top: 108px;
  right: 101px;
}
.btn-top-4 {
  background-color: #0571f0;
  color: white;
  position: absolute;
  top: 109px;
  right: 92px;
}
.btn-top-5 {
  background-color: #0571f0;
  color: white;
  position: absolute;
  top: 113px;
  right: 90px;
}
.final {
  border-top: 1px solid rgb(196, 186, 186);
}

